@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');


* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}



/*Header components and sub components */
.headerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*Main Div */
.quotesMain {
  background-color: white;
   margin: auto;
  width: 50%;
 
  text-align: center;
  height: 40%;
  width: 40%;
  border-radius: 10px;
}

.mainQuotes {
  padding: 40px 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  word-spacing: 5px;
  color: rgb(36, 35, 34);
}

button {
  font-size: 30px;
  margin: 10px 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 10px;
}

input {
  width: 10rem;
}


.headerNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  background-color: rgb(233, 152, 45);
  padding: 10px 20px;
  list-style: none;
}

.headerNav li:active {
  background-color: #ce1a1a;
  font-weight: bold;
}

.searchPageMainDiv {
  display: block;
  
}

.searchPageDiv {
 background-color: white;
  width: 50%;
  margin: 20px auto;
 
  text-align: center;
  height: 40%;
  width: 80vw;
  border-radius: 10px;
}

form {
     margin: 5px auto;
     font-size: 12px;
     text-align: center;
  }


@media  (max-width: 700px) {
  /* h1 {
    font-size: 16px;
  }

  p{
    font-size: 16px;
  }

  .searchPageMainDiv p {
    display: block;
    background-color: rebeccapurple;
  }

  .searchPageDiv {
    margin: 0 auto;
  } */

  body{
    font-size: 14px;
  }

  body  .searchPageMainDiv  {
   
  
  }

  




}
